.citySearch {
    display: flex;
    justify-content: center;
    height: 45px;
    margin-top: 5%;

    .city {
        display: flex;
    }

    .citytton {
        height: 45px;
    }
    .check{
        display: flex;
        margin-left: 5px;
        width: 250px;
        align-items: center;
    }
}